*{
    margin: 0;
    padding: 0;
}
#blue{
    /* Esta declaracion hace el div azul con una posicion absoluta.
    Esto hace que la distancia de los marganes se establece desde el body.*/
 background-color:#78A4D2;
 position: absolute;
 width: 160px;
 height: 120px;
 margin-left: 20px;
 margin-top: 40px;

}
#yellow{
    /* Esta declaracion hace el div amarillo con una posicion relativa.
    Esto hace que la distancia de los margenes se establece de lo padres.  */
 background-color: #FFFF00;
 position: relative;
 width: 40px;
 height: 40px;
 left: 20px;
 top: 20px;
}
#red{
 background-color: #FF3939;
 position: absolute;
 width: 160px;
 height: 120px;
 margin-left: 100px;
 margin-top: 140px;
 z-index: -1;
}
#green{
 background-color: #39FF9E;
 position: relative;
 width: 40px;
 height: 40px;
 left: 100px;
 top: 60px;
}