* {
    padding: 0;
    margin: 0;
    font-family: arial, sans-serif;
}
/* Aquí comença el header. */
div#header {
    padding: 5px 0px 3px 0px;
    height: 50px;
}

div#left {
    float: left;
    width: 200px;
    height: 40px;
}

div#left a {
    margin: 0;
    float: left;
    margin-left: 20px;
    line-height: 50px;
    text-decoration: none;
    font-size: 14px;
    color: black;
}

div#left a:hover {
    text-decoration: underline;
}

div#right {
    float: right;
    width: 400px;
    height: 50px;
}

div#more {
    float: right;
    display: flex;
    flex-direction: row-reverse;
    height: 50px;
    width: 200px;
}

div#more img#menu {
    margin: auto;
    order: 2;
    height: 16px;
}

div#more #login {
    display: block;
    border-radius: 4px;
    border: none;
    color: white;
    font-weight: bold;
    order: 1;
    margin: auto;
    background-color: #2B7DE9;
    text-decoration: none;
    padding: 9px 23px 9px 23px;
    font-weight: normal;
    font-size: 15px;
}

div#more #login:hover{
    background-color: #1B66C9;
    box-shadow: 0px 2px 3px lightgray;
}

div#links {
    float: right;
}

div#links a {
    float: right;
    line-height: 50px;
    margin-right: 20px;
    text-decoration: none;
    font-size: 13px;
    color: black;
}

div#links a#gmail{
    margin-right: 15px;
}

div#links a:hover {
    text-decoration: underline;
}

div#google {
    display: flex;
    width: 100%;
    height: 153px;
}

div#google img {
    margin: auto;
    margin-bottom: 0px;
}

/* Aquí comença la part central. */

div#central {
    width: 100%;
    height: 20%;
    padding-top: 25px;
}

div#search_bar {
    width: 580px;
    height: 45px;
    border: 1px solid lightgray;
    border-radius: 22px;
    margin: auto;
    display: flex;
}

div#lupa {
    margin: auto;
    margin-left: 5px;
    width: 45px;
    height: 45px;
    display: flex;
}

svg {
    width: 20px;
    height: 20px;
    margin: auto;
}

div#text_input {
    margin: auto;
    width: 450px;
    height: 35px;
}

div#text_input input {
    border: none;
    width: 450px;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
}

div#text_input input:focus {
    outline: none;
  }

div#micro {
    margin: auto;
    width: 45px;
    height: 45px;
    display: flex;
}

div#micro img {
    width: 14px;
    height: 20px;
    margin: auto;
}

div#foto {
    margin: auto;
    width: 45px;
    height: 45px;
    display: flex;
    margin-right: 10px;
}

div#foto img {
    width: 24px;
    height: 24px;
    margin: auto;
}

div#search_buttons {
    width: 580px;
    height: 68px;
    display: flex;
    margin: auto;
    padding-top: 15px;
}

div#buttons {
    margin: auto;
    display: block;
}

div#search_buttons input {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    font-size: 14px;
    margin: 11px 4px 11px 4px;
    padding: 0 16px 0 16px;
    height: 36px;
    cursor: pointer;
}


div#search_buttons input:hover {
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid lightgrey;
}

div#search_buttons a{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    font-size: 14px;
    margin: 11px 4px 11px 4px;
    padding: 9px;
    height: 36px;
    cursor: pointer;
    text-decoration: none;
    color:black;
}
div#search_buttons a:hover {
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid lightgrey;
}

div#idiomas {
    text-align: center;
    font-size: small;
    margin-top: 15px;   
}

div#idiomas a {
    color: #1a0dab;
    text-decoration: none;
    padding:0 3px;
}

div#idiomas a:hover {
    text-decoration: underline;
}

/* Aquí comença el footer. */

div#footer{
    font-size: 14px;
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #f2f2f2;
}

img#hoja{
    margin: 0 6px;
}

div#footer a{ 
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
    margin: 0 0 0 0;
    padding: 15px;
    color: #70757a;
}

div#footer a:hover{
    text-decoration: underline;
}

div#region{
    display: block;
    padding: 15px 30px 15px 30px;
    color: #70757a;
    border-bottom: 1px solid #dadce0;
}

div#enlaces{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    background: #f2f2f2;
}

div#enlace_publi {
    order: 1;
    justify-content: flex-start;
    min-width: 30%;
}

div#enlace_sust {
    order: 2;
    justify-content: space-between;
}

div#enlace_priv {
    order: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    min-width: 30%;
}
/*Parte JhamelFunes |Aqui comienza el css de la pagina imgdni.html , usando diferentes propiedades como flex y block para alinear los items. */
div#centro{
    display: flex;
    justify-content: center;
}

div.fotos_y_info{
    display: inline-block;
    margin-top: 25px;
    padding: 10px;
    text-align: center;
}

div.fotos_y_info img{
    width: 150px;
    height: 180px;
}

div.fotos_y_info p{
    padding: 5px;
}

p.justify {
    text-align: justify;
}