table, th , td {
 border: 1px solid black;
 border-collapse: collapse;
}

caption{
    color: blue;
    margin-bottom: 10px;
}
th{
    background-color: #B9B9B9;
    font-weight: bold;
}
td{
    padding: 0px 5px 0px 5px;
}